.bg-custom {
    background-color: #008EA7;
}

.btn:hover {
    background-color: #006f83;
}

.nav-link:hover {
    color: #ffdd57 !important;
}

.custom-container {
    display: flex;
    max-width: 1820px;
    justify-content: space-between;
    align-items: center;
}